<div class="card card-primary card-outline">
  <div class="card-body box-profile">
    <div class="text-center">
      <img class="profile-user-img img-fluid img-circle" src="{{ request.user.get_image }}" alt="User profile picture">
    </div>

    <h3 class="profile-username text-center">
        {% if request.user.is_superuser == 1 %}
            Administrador
        {% else %}
            Usuario normal
        {% endif %}
    </h3>

    <div class="text-center">
        <button class="btn btn-primary btn-sm"> Cambiar foto</button>
        <button class="btn btn-purple btn-sm"> Cambiar contraseña</button>
    </div>
   </div>
  <!-- /.card-body -->
</div>